@import '../../../variables.scss';


.start-stop-create-button {
  display: flex;
  align-items: center;
    background-color:$primary-color; /* bg-blue-500 */
    color: white; /* text-white */
    font-weight: bold; /* font-bold */
    padding: 0.5rem 0.5rem; /* py-2 px-4 */
    border-radius: 0.25rem; /* rounded */
    display: flex; /* flex */
    align-items: center; /* items-center */
    z-index: 1000; /* Inline style */
    transition: background-color 0.3s; /* For hover effect */
    cursor: pointer;
    // min-width: 105px;

    &:hover {
      background-color: darken(#007bff, 10%);
    }
  
    svg {
      // margin-right: 5px;
    }

  }