@use '../../variables.scss' as vars;

.main-container {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
  
    @media screen and (max-width: 767px) {
      margin-left: vars.$sidebar-width;
    }
  }